<div *ngIf="show_hide" class="col-lg-4 bg m-auto mt-5 p-4 rounded-3">
  <p class="text-center fs-3 fw-bold">Name: {{ name }}</p>
  <p class="text-center fs-3 fw-bold">Adress: {{ address }}</p>
</div>

<button class="btn btn-primary m-auto d-block mt-3" (click)="show_hide = !show_hide">Show/Hide</button>